<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">

    <!--    custom styles for this template   -->
    <link th:inline="css" th:href="@{/pages/css/index.css}" rel="stylesheet"/>

    <div class="cover-body text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover mx-auto my-auto">
                <h1 class="cover-heading display-4">WEB4 HOMEWORK</h1><br/><br/>
                <p class="lead font-italic">This page is a homework given by Instructor Shin dong-yeol of ITKOREA Academy WEB4 DEVELOPER.</p>
                <p class="lead">
                    <a href="/login" class="btn btn-sm btn-primary"
                       th:style="${session.userInfo == null ? 'visibility: visible;' : 'visibility: hidden;'}">Please login</a>
                </p>
                <h2 class="lead text-white bg-dark display-4">
                    <th:block th:if="${session.userInfo != null}">
                        <span id="hello" th:text="${session.userInfo.userName}+' 님 환영합니다!'"></span>
                    </th:block>
                </h2>
            </main>
        </div>
    </div>

</div>


</html>