<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">

    <!--    custom styles for this template   -->
<!--    <link th:inline="css" th:href="@{/pages/css/index.css}" rel="stylesheet"/>-->

    <section class="container">
        <div class="row"><h1 class="display-1 text-white mx-auto">게시글 보기</h1></div>
        <br/>
        <div class="board-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <form id="articleForm">
                <div id="contentForm">
<!--                    <input type="hidden" name="pageNum" value="${pageNum}">-->
                    <input type="hidden" name="boardId" id="boardId" th:value="${articleInfo.boardId}">

                    <div class="input-group input-group-sm" role="group" aria-label="...">
                        <table class="table table-sm table-striped table-dark ">
                            <thead>
                            <tr>
                                <th width="15%" class="text-center">글쓴이</th>
                                <td id="writer" width="85%" th:text="${articleInfo.boardWriter}"></td>
                                <input type="hidden" name="boardWriter" th:value="${articleInfo.boardWriter}">
                            </tr>
                            <tr>
                                <th width="15%" class="text-center">게시글 생성일</th>
                                <td id="create-date" width="85%" th:text="${articleInfo.createDate}"></td>
                            </tr>
                            <tr>
                                <th style="padding-top: 15px" class="text-center">제목</th>
                                <td><input type="text" name="boardTitle" value="" id="articleTitle"
                                           class="form-control" aria-describedby="basic-addon1" th:value="${articleInfo.boardTitle}" readonly></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <textarea class="form-control" rows="15" id="articleContents" name="boardContents"
                                              th:text="${articleInfo.boardContents}" readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-top: 15px" class="text-center">첨부파일</th>
                                <td>
                                    <span id="attachFile" style="margin-left: 10px;"
                                          th:style="${articleInfo.originFileName != null ? 'display: block;' : 'display: none;'}">
                                        <a th:href="@{/board/down(boardId=${articleInfo.boardId})}">[[ ${articleInfo.originFileName} ]]</a>
                                    </span>
                                    <span id="attachFile" style="margin-left: 10px;"
                                          th:style="${articleInfo.originFileName == null ? 'display: block;' : 'display: none;'}">없음</span>
<!--                                    <input type="file" class="btn btn-default text-white" name="file" id="attachedFile" th:value="${articleInfo.originFileName}" readonly>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <input id="updateBtn" type="submit" class="btn btn-primary mr-2" value="수정">
                        <input id="deleteBtn" type="submit" class="btn btn-danger mr-2" value="삭제">
                        <input id="cancelBtn" type="button" class="btn btn-info" value="목록">
                    </div>
                </div>
            </form>
        </div>

    </section>

    <script>
        const initialize = function() {
            $('#updateBtn').click(function(e) {
                e.preventDefault();

                const boardId = $('#boardId').val();
                location.href="/board/modify?boardId=" + boardId;
            });

            $('#deleteBtn').click(function(e) {
                e.preventDefault();

                const boardId = $('#boardId').val();
                const isConfirm = confirm('해당 글을 정말 삭제하시겠습니까?');
                if (isConfirm) {
                    location.href='/board/delete?boardId='+ boardId;
                }
            });

            $('#cancelBtn').click(function(e) {
                location.href="/board?page=1";
            });
        }

        $(document).ready(function() {
            initialize();
        })
    </script>

</div>


</html>