<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">

    <!--    custom styles for this template   -->
<!--    <link th:inline="css" th:href="@{/pages/css/index.css}" rel="stylesheet"/>-->

    <section class="container">
        <div class="row"><h1 class="display-1 text-white mx-auto">게시글 수정</h1></div>
        <br/>
        <div class="board-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <form id="articleForm">
                <div id="contentForm">
<!--                    <input type="hidden" name="pageNum" value="${pageNum}">-->
                    <input type="hidden" name="boardId" id="boardId" th:value="${articleInfo.boardId}">

                    <div class="input-group input-group-sm" role="group" aria-label="...">
                        <table class="table table-sm table-striped table-dark ">
                            <thead>
                            <tr>
                                <th width="15%" class="text-center">글쓴이</th>
                                <td id="writer" width="85%" th:text="${articleInfo.boardWriter}"></td>
                                <input type="hidden" name="boardWriter" th:value="${articleInfo.boardWriter}">
                            </tr>
                            <tr>
                                <th width="15%" class="text-center">게시글 생성일</th>
                                <td id="create-date" width="85%" th:text="${articleInfo.createDate}"></td>
                            </tr>
                            <tr>
                                <th style="padding-top: 15px" class="text-center">제목</th>
                                <td><input type="text" name="boardTitle" value="" id="articleTitle"
                                           class="form-control" aria-describedby="basic-addon1" th:value="${articleInfo.boardTitle}"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <textarea class="form-control" rows="15" id="articleContents" name="boardContents"
                                              th:text="${articleInfo.boardContents}"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-top: 15px" class="text-center">첨부파일</th>
                                <td>
                                    <span id="attachedFile">[[${articleInfo.originFileName}]]</span>
                                    <input type="file" class="btn btn-default text-white" name="file" id="file">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <input id="updateBtn" type="submit" class="btn btn-primary mr-2" value="글수정">
                        <input id="cancelBtn" type="button" class="btn btn-info" value="취소">
                    </div>
                </div>
            </form>
        </div>

    </section>

    <script>
        const initialize = function() {
            $('#updateBtn').click(function(e) {
                e.preventDefault();

                modifyArticle();
            });

            $('#cancelBtn').click(function(e) {
                e.preventDefault();

                const boardId = $('#boardId').val();
                const isConfirm = confirm('게시글 수정을 취소하시겠습니까?');
                if (isConfirm) {
                    location.href='/board/detail?boardId='+ boardId;
                }
            });

            $('#cancelBtn').click(function(e) {
                location.href="/board?page=1";
            });
        }

        function isValid() {
            const articleTitle = $('#articleTitle');
            const articleContents = $('#articleContents');

            if ($.trim(articleTitle.val()).length < 1) {
                alert('제목을 입력하십시오');
                articleTitle.focus();
                return false;
            }

            if ($.trim(articleContents.val()).length < 1) {
                alert('내용을 입력하십시오');
                articleContents.focus();
                return false;
            }

            const attachedFile = $('attachedFile').text();
            const newFile = $('#file').val();

            if (attachedFile.length > 0 && newFile) {
                 const isConfirm = confirm('기존 파일이 삭제 됩니다. 진행하시겠습니까?');
                if (!isConfirm) {
                    $('#file').val('');
                    return false;
                }
            }

            return true;
        }

        function modifyArticle() {
            if (isValid()) {
                const articleForm = $('#articleForm')[0];
                const formData = new FormData(articleForm);

                // Create
                $.ajax({
                    url: '/board/modify',
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    enctype: 'multipart/form-data',
                    data: formData

                }).done(function(data) {
                    if (data.resultCode === 200) {
                        alert('게시글이 수정 되었습니다.');
                        location.href='/board?page=1';
                    } else {
                        alert('게시글이 수정이 실패하였습니다.');
                    }

                }).fail(function(xhr, status, error){
                    console.log(status, error);
                });
            }
        }

        $(document).ready(function() {
            initialize();
        })
    </script>

</div>


</html>