<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">

    <!--    custom styles for this template   -->
    <link th:inline="css" th:href="@{/pages/css/board_list.css}" rel="stylesheet"/>

    <div class="container">
        <div class="row"><h1 class="display-2 text-white mx-auto">Homework 게시판</h1></div>
        <main class="container pt-2">
            <div class="card mb-5">
                <div class="card-header row">
                    <div class="col-8">
                        <span class="col text-primary" th:if="${boardCount == null}">※ 검색된 게시물이 없습니다.</span>
                        <span class="col text-primary" th:if="${boardCount != null}">※ 총 [[${boardCount}]] 개의 게시물이 있습니다.</span>
                    </div>
                    <div class="col-4 right">
                        <select class="form-control form-control-sm" id="row-count" th:value="${pagePerRows}"
                                aria-describedby="line-count" aria-label="Sizing example input">
                            <option>row count</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                    </div>
                </div>
                <div class="card-block p-0">
                    <table class="table table-sm table-hover">
                        <thead class="">
                        <tr class="table-primary text-dark">
                            <th style="col-md-1">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" id="check_all" class="ipt_check custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <th class="col-md-1 text-center">번호</th>
                            <th class="col-md-4 text-center">제목</th>
                            <th class="col-md-2 text-center">작성자</th>
                            <th class="col-md-3 text-center">작성일</th>
                            <th class="col-md-1 text-center">조회수</th>
                        </tr>
                        </thead>
                        <tbody th:each="list :${boardList}">
                        <tr class="cu_pointer">
                            <th>
                                <label class="custom-control custom-checkbox ipt_check_only">
                                    <input type="checkbox" class="ipt_check custom-control-input"  name="dataCheck"
                                           th:value="${list.boardId}" th:id="|check_${list.boardId}|">
                                    <span class="custom-control-indicator" id="ipt_check_span"></span>
                                </label>
                            </th>
                            <td scope="row" th:text="${list.boardId}" class="text-center"></td>
                            <td th:text="${list.boardTitle}" class="text-center"></td>
                            <td th:text="${list.boardWriter}" class="text-center"></td>
                            <td th:text="${list.createDate}" class="text-center"></td>
                            <td th:text="${list.boardCount}" class="text-center"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <button class="btn btn-warning" style="width: 100px;" onclick="deleteArticle();">선택삭제</button>
                            </th>
                            <th colspan="4">
                                <div class="col col-md-auto paging">
                                    <nav aria-label="...">
                                        <ul class="pagination" th:utext="${pageHTML}">
                                        </ul>
                                    </nav>
                                </div>
                            </th>
                            <th colspan="5">
                                <button class="btn btn-primary float-right" onclick="createArticle();">글쓰기</button>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <script>

        $('#check_all').on('change', function(){
          $('input[name=dataCheck]').prop('checked', this.checked);
        });
        $('#row-count').on('change', function(){
            const count = $( "#row-count option:selected" ).val();

            $.ajax({
                  url: '/board/pagePerRows',
                  type: 'get',
                  dataType: 'json',
                  data: {
                    pagePerRows: count
                  }
              }).done(function(data){
              console.log(data);
                  if (data === 200) {
                      location.reload();	// 현재 페이지 새로고침

                  } else {
                      alert('알수없는 이유로 페이지당 게시글 개수가 반영이 되지 않았습니다. 다시 시도해 주세요.');
                      return false;
                  }
              }).fail(function(xhr, status, error){
                  console.log(status);
              })
        });
        $('tr.cu_pointer').click(function(e){
            if($(e.target).is('input:checkbox')) return;
            if($(e.target).parent().is('th')) return;
            if($(e.target).is('th')) return;
            if($(e.target).is('#ipt_check_span')) return;

            const trTag = $(e.target).parent();
            displayArticle(trTag);
        });

        function deleteArticle() {
            let checkedList = $('input[name=dataCheck]:checked').serializeArray().map(function(item) { return item.value });

            if (checkedList.length > 0) {
              const isConfirm = confirm(`${checkedList.length}개가 선택되어 있습니다. 정말로 지우시겠습니까?`);
              if (!isConfirm) {
                  return;
              }

              const param = {
                  boardIds : checkedList.join(',')
              }
              console.log(param);

              $.ajax({
                  url: 'board/delete/selected',
                  type: 'post',
                  dataType: 'json',
                  data: param
              }).done(function(data){
                  if (data.resultCode === 200) {
                      alert('선택한 게시글이 삭제 되었습니다.');
                      location.reload();	// 현재 페이지 새로고침

                  } else {
                      alert('삭제가 실패 했습니다.');
                      return false;
                  }
              }).fail(function(xhr, status, error){
                  console.log(status);
              })

          } else {
              alert('삭제할 게시글을 선택해 주십시오.');
              return false;
          }
        }

        function goPage(pageNumber) {
            //console.log(pageNumber+1);
            location.href="/board?page=" + (pageNumber + 1);
        }

        function displayArticle(target) {
            const selectedRow = $(target);
            const selectedBoardId = selectedRow.find('.ipt_check').val();

            location.href = '/board/detail?boardId=' + selectedBoardId;
        }

        function createArticle() {
            location.href = '/board/write';
        }

    </script>

</div>


</html>