
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.cover-body {
  height: 100%;
  color: #fff;
}

.cover-body h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  text-shadow: 4px 2px 2px #123;

}

.cover-body p {
    font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;

}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
