<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!--  Userinfo Modal  -->
    <div class="modal fade" id="userinfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">유저 정보</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">UID: [[${session.userInfo == null ? '' : session.userInfo.userUid}]]</li>
                        <li class="list-group-item list-group-item-secondary">이름: [[${session.userInfo == null ? '' : session.userInfo.userName}]]</li>
                        <li class="list-group-item list-group-item-success">성별: [[${session.userInfo == null ? '' : session.userInfo.userGender}]]</li>
                        <li class="list-group-item list-group-item-danger">생년월일: [[${session.userInfo == null ? '' : session.userInfo.userBirth}]]</li>
                        <li class="list-group-item list-group-item-warning">계정생성: [[${session.userInfo == null ? '' : session.userInfo.createTime}]]</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/index">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/board">게시판</a>
                </li>
            </ul>

            <th:block th:if="${session.userInfo != null}">
                <span class="navbar-text bg-secondary text-white"
                      style="margin-right: 10px;text-shadow: 1px 2px 2px #123;">
                    <a class="text-light" href="javascript:void(0);" onclick="showUserinfo();"
                       th:text="${session.userInfo.userName}"></a>
                </span>
            </th:block>
            <span class="navbar-text" style="margin-right:10px;">
               <a class="text-light" href="javascript:void(0);" onclick="logOut();" th:if="${session.userInfo != null}">로그아웃</a>
               <a class="text-light" href="/login" th:if="${session.userInfo == null}">로그인</a>
            </span>
        </div>
    </nav>

    <script>
        function logOut(){
            const isConfirm = confirm('로그아웃 하시겠습니까?');
            if(isConfirm) {
                location.href = '/logout';
            }
        }

        function showUserinfo() {
            $('#userinfoModal').modal('toggle');
        }

    </script>
</div>
</html>
