<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content" class="login_body">

    <!--    custom styles for this template   -->
    <link th:inline="css" th:href="@{/pages/css/index.css}" rel="stylesheet"/>

    <div class="cover-body text-center">
        <div class="login-container w-50 d-flex p-5 mx-auto flex-column">
            <!-- 서버로부터 받은 공개키를 저장해둔다 -->
            <form id="publicFrm">
                <input type="hidden" id="publicKeyModules" name="publicKeyModules">
                <input type="hidden" id="publicKeyExponent" name="publicKeyExponent">
            </form>
            <form id="securedFrm">
                <input type="hidden" id="securedId" name="securedId">
                <input type="hidden" id="securedPasswd" name="securedPasswd">
            </form>
            <form class="form-login">
                <img th:src="@{/images/lettersW.svg}" alt="" width="256" height="256">
                <h1 class="h1 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" aria-describedby="emailHelpInline" required autofocus>
                    <small id="emailHelpInline" class="text-muted">
                        We'll never share your email with anyone else.
                    </small>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" aria-describedby="passwordHelpInline" required>
                    <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Sign in</button>
            </form>

            <div class="row mb-3 mt-4 text-center mx-auto">
                <p>
                    <a th:href="@{/signup}"> 회원가입 </a>
                </p>
            </div>
        </div>
    </div>

    <!-- rsa 암호화를 위한 js import -->
    <script th:src="@{/security/jsbn.js}"></script>
    <script th:src="@{/security/rsa.js}"></script>
    <script th:src="@{/security/prng4.js}"></script>
    <script th:src="@{/security/rng.js}"></script>

    <script>
        (function() {
          'use strict';

          const initialize = () => {
            getRSAKey();
            getCookies();

            ['inputEmail', 'inputPassword'].forEach( val => {
                $('#'+val).on('keyup', function(e) {
                    if (e.keyCode === 13) {
                        e.preventDefault();
                        login();
                    }
                });
            });

            $('#login').on('click', function(e) {
                e.preventDefault();
                login();
            });
          }

          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });

            initialize();

          }, false);
        })();

		function encryptLoginInfo() {
			const publicKeyModules = $('#publicKeyModules').val();
			const publicKeyExponent = $('#publicKeyExponent').val();

			const rsaObj = new RSAKey();

			console.log(publicKeyModules, publicKeyExponent);
			// 객체에 공개키 삽입
			rsaObj.setPublic(publicKeyModules, publicKeyExponent);
			// id 암호화
			let securedId = rsaObj.encrypt($('#inputEmail').val());
			let securedPw = rsaObj.encrypt($('#inputPassword').val());

			// 암호화된 아이디, 패스워드 저장
			$('#securedId').val(securedId);
			$('#securedPasswd').val(securedPw);
		}

        function isValid() {
            const useremail = $('#inputEmail');
            const userPasswd = $('#inputPassword');

            if ($.trim(useremail.val()).length < 0) {
                useremail.focus();
                return false;
            }
            if ($.trim(userPasswd.val()).length < 0) {
                userPasswd.focus();
                return false;
            }

            return true;
        }

		// 키 가져오기
		function getRSAKey() {
			$.ajax({
				type: 'GET',
				url: '/rsa/key',
				dataType: 'json'

			}).done(function(resp){
				$('#publicKeyModules').val(resp.publicKeyModules);
				$('#publicKeyExponent').val(resp.publicKeyExponent);

			}).fail(function(xhr, status, error){
				console.log(status);

			});
		}

		function getCookies() {
		    //location.href="/login/cookies";
		}

        function login() {
            if (!isValid()) {
                alert('email 혹은 password 를 입력해 주세요.');
            }

            encryptLoginInfo();	// 암호화

            const params = {
                userEmail: $('#securedId').val(),
                userPasswd: $('#securedPasswd').val()
            }

            $.ajax({
                url: '/login',
                type: 'POST',
                dataType: 'json',
                data: params
            }).done(function(data) {
                if (data.resultCode === 200) {
                    console.log(data);
                    location.href = '/index';

                } else if(data.resultCode === 500) {
                    alert('email 혹은 password 를 다시 확인해주시기 바랍니다.');

                }
            }).fail(function(xhr, status, error) {
                console.log(status);
            });
        }
    </script>
</div>


</html>