<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">

    <!--    custom styles for this template   -->
    <link th:inline="css" th:href="@{/pages/css/signup.css}" rel="stylesheet"/>

    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3 text-center">회원가입</h4>
                <form class="validation-form" novalidate>

                    <div class="mb-3">
                        <label for="emailInput">이메일</label>
                        <input type="email" class="form-control form-control-sm" id="emailInput" placeholder="hongkil@web4homework.com" required>
                        <div class="invalid-feedback">
                            이메일을 입력해주세요.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="passwordInput">비밀번호</label>
                            <input type="password" class="form-control form-control-sm" id="passwordInput" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                이름을 입력해주세요.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="passwordConfirm">비밀번호 확인</label>
                            <input type="password" class="form-control form-control-sm" id="passwordConfirm" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                별명을 입력해주세요.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="userNameInput">이름</label>
                        <input type="text" class="form-control form-control-sm" id="userNameInput" placeholder="홍 길 동" required>
                        <div class="invalid-feedback">
                            주소를 입력해주세요.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="birthYearInput">생년원일(Year)</label>
                            <input type="text" class="form-control form-control-sm" id="birthYearInput" required>
                            <div class="invalid-tooltip">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="birthMonthSelect">Month</label>
                            <select class="form-control form-control-sm" id="birthMonthSelect" required>
                                <option selected>1</option>
                                <th:block th:each="seq : ${#numbers.sequence(2,12)}">
                                    <option th:text="${seq}"></option>
                                </th:block>
                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="birthDaySelect">Day</label>
                            <select class="form-control form-control-sm" id="birthDaySelect" required>
                                <th:block th:each="seq : ${#numbers.sequence(1,31)}">
                                    <option th:text="${seq}"></option>
                                </th:block>
                            </select>
                            <div class="invalid-tooltip">
                                Please provide a valid zip.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <label for="rootSelect">가입 경로<span class="text-muted">&nbsp;(필수 아님)</span></label>
                            <select class="form-control form-control-sm d-block w-100" id="rootSelect">
                                <option value=""></option>
                                <option>검색</option>
                                <option>카페</option>
                                <option>신동열님의 추천</option>
                            </select>
                            <div class="invalid-feedback">
                                가입 경로를 선택해주세요.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="genderSelect">성별</label>
                            <select class="form-control form-control-sm d-block w-100" id="genderSelect">
                                <option selected>남성</option>
                                <option>여성</option>
                            </select>
                            <div class="invalid-feedback">
                                추천인 코드를 입력해주세요.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="agreementCheck" required>
                        <label class="custom-control-label" for="agreementCheck">개인정보 수집 및 이용에 동의합니다.</label>
                    </div>
                    <div class="mb-4"></div>
                    <button class="btn btn-primary btn-block" type="submit" id="goSubmit">가입 완료</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    (function() {
        'use strict';

        window.addEventListener('load', () => {
          const forms = document.getElementsByClassName('validation-form');

          Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add('was-validated');
            }, false);
          });
        }, false);

        $('#goSubmit').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            signup();
        });

    })();

    const getTags = () => {
        return ['emailInput','passwordInput','passwordConfirm','userNameInput',
              'birthYearInput','birthMonthSelect','birthDaySelect','genderSelect'];
    }

    function isValid() {
        const tagList = getTags();

        // 값이 있는지 없는지 판단
        tagList.forEach(val => {
            const tag = $('#' + val);

            if ($.trim(tag.val()).length < 0) {
                tag.focus();
                return false;
            }
        });

        return true;
    }

    function isPassValid() {
        return ($.trim($('#' + getTags()[1]).val()) === $.trim($('#' + getTags()[2]).val()));
    }

    function signup() {
        if (!isValid()) {
            alert('필수 입력 항목을 채워 주세요!');
        }
        if (!isPassValid()) {
            $('#' + getTags()[2]).focus();
            alert('비밀번호를 확인이 다릅니다. 다시 입력해 주세요');
            return;
        }
        const agreement = $('#agreementCheck');
        if (!agreement.prop('checked')) {
            agreement.focus();
            alert('개인정보 수집 및 이용에 동의를 해주셔야 가입이 완료 됩니다.');
            return;
        }

        const tagList = getTags();
        const userInfo = tagList.reduce((acc, val) => {
            const tag = $('#' + val);
            return {...acc, [val]: tag.val()};
        }, {});
        // 마지막에 개인정보 수집 및 이용 동의 체크값을 담는다.
        const params = {...userInfo, agreement: agreement.prop('checked')};

        $.ajax({
            url: '/signup',
            type: 'POST',
            dataType: 'json',
            data: params
        }).done(function(data) {
            if (data.resultCode === 200) {
                alert('가입 완료 되었습니다.');

                location.href = '/index';

            } else if(data.resultCode === 500) {
                alert('계정 생성에 오류가 있습니다.');

            }
        }).fail(function(xhr, status, error) {
            console.log(status);
        });

    }

  </script>

</div>


</html>